

  .header{
    min-height: 50px;
  }

  .upArrow{
    width: 30px;
    margin-left: auto;
    background-color: #FFF;
  }

 #Header-0{
  /* background-image: url(""); */
}

 #Header-1{
  /* background-image: url(""); */
}

#Header-2{
  /* background-image: url(""); */
}

#Header-3{
  /* background-image: url(""); */
}