#Content-0{
  background-image: url("../../../images/Content/content-1.png");
  background-size: contain;
  
}

#Content-1{
  background-image: url("../../../images/Content/content-2.png");
  background-size: contain;
}

#Content-2{
  background-image: url("../../../images/Content/content-3.png");
  background-size: contain;
}


