#exitBtn{
    color: white;
    background-color: teal;
    border-radius: 50%;
    border: white 2px solid;
    font-size: 16px;
    width: 29px;
    margin: 15px;
    /* float: right; */

}


.exitBtnCont{
    display: flex;
    justify-content: flex-end;

    align-items: flex-start;
}

#exitBtn:hover{
    background-color: #FFF;
    color: teal;
    border: teal 2px solid;
}

.btnWrapper{
    display: flex;
justify-content: flex-end;
}