#card-1{
  background-image: url("../../images/Content/content-1.png");
}

#card-2{
  background-image: url("../../images/Content/content-2.png");
}

#card-3{
  background-image: url("../../images/Content/content-3.png");
}

.content{
  min-height: 300px;
}

